<!DOCTYPE HTML>
<html>
    <head>
        <title>De Blauwe Worm</title>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
            <h2 class="align-center">Reservatie</h2>
            <!-- CTA -->
            <form method="post">
                {% csrf_token %}
                <div>
                    <h6 for="{{ form.voornaam.id_for_label }}">Voornaam</h6>
                    {{ form.voornaam }}
                </div>
                <br>
                <div>
                    <h6 for="{{ form.achternaam.id_for_label }}">Achternaam</h6>
                    {{ form.achternaam }}
                </div>
                </br>
                
                <div>
                    <h6 for="{{ form.email.id_for_label }}">Email</h6>
                    {{ form.email }}
                </div>
            
                <br>
                <div>
                    <h6 for="{{ form.res_date.id_for_label }}">Datum</h6>
                    {{ form.res_date }}
                </div>
                <div>
                    <h6 for="{{ form.res_time.id_for_label }}">Tijdstip</h6>
                    {{ form.res_time }}
                </div>
                </br>
                    <h6 for="{{ form.aantal_pers.id_for_label }}">Aantal personen:</h6>
                    {{ form.aantal_pers }}
                    
                
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>   
            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/skel.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>
